---
layout: base.njk
title: PensaMI Ciclabile
permalink: /it/
---

{% set t = translations.it %}

<div class="container my-4 content">
    <div class="hero-welcome">
        <h1>{{ t.home.welcome }}</h1>
        <p>{{ t.home.intro }}</p>
    </div>

    <div class="map-title">{{ t.home.exploreMap }}</div>
    <div class="map-container">
        <div class="flourish-embed flourish-map" data-src="visualisation/22152403"><script src="https://public.flourish.studio/resources/embed.js"></script><noscript><img src="https://public.flourish.studio/visualisation/22152403/thumbnail" width="100%" alt="map visualization" /></noscript></div>
    </div>
    <div class="map-description">{{ t.home.mapDescription }}</div>

    <div class="quick-links">
        <span class="quick-links-label">{{ t.home.discoverMore }}</span>
        <a href="/it/about/" class="quick-link"><i class="fas fa-info-circle"></i> {{ t.nav.about }}</a>
        <a href="/it/gallery/" class="quick-link"><i class="fas fa-images"></i> {{ t.nav.gallery }}</a>
        <a href="/it/contacts/" class="quick-link"><i class="fas fa-envelope"></i> {{ t.nav.contacts }}</a>
    </div>
</div>
