---
layout: base.njk
---

{% set t = translations[lang].contacts %}

<div class="container my-4 content">
    <h2>{{ t.heading }}</h2>
    <p>{{ t.email }}: <a href="mailto:info@pensamiciclabile.it">info@pensamiciclabile.it</a></p>
    <p>{{ t.followUs }}</p>
    <div class="social-icons">
        <a href="https://www.instagram.com/pensamiciclabile/"><i class="fab fa-instagram"></i></a>
    </div>
</div>
