---
layout: page-about.njk
title: About - PensaMI Ciclabile
permalink: /en/about/
---

<section class="about-intro">
    <h2>PensaMI Ciclabile</h2>
    <p>PensaMI Ciclabile is a project created by a <a href="https://www.danielsc4.it" target="_blank" rel="noopener">single person</a> dedicated to the themes of sustainable urban mobility, in particular cycling in cities, especially in Milan.</p>
    <p>The project was born from the desire to inspire change in a city that has fallen too far behind other European cities, in order to accelerate towards a city that is more people-friendly, beautiful to live in, and less polluted.</p>
</section>

<section class="faq-section">
    <h3>Frequently Asked Questions</h3>

    <details class="faq-item">
        <summary>Can I use one of your drawings?</summary>
        <p>Of course! You can use the drawings however you like, even for commercial purposes. If you do, a mention of who created them would be appreciated but is not mandatory. The original images are all in the <a href="/en/gallery/">gallery</a>.</p>
    </details>

    <details class="faq-item">
        <summary>Do you have political affiliations?</summary>
        <p>No and I never will. The proposals are based on what is scientifically proven to be the best approach for urban mobility. A more accessible city has no political colors, it is simply objectively better than all the other alternatives.</p>
    </details>

    <details class="faq-item">
        <summary>Can I propose a project in Milan?</summary>
        <p>Yes, you can write me an email or simply send me a DM on any of the social media pages. You can find the contacts <a href="/en/contacts/">here</a>.</p>
    </details>

    <details class="faq-item">
        <summary>Can I propose a project outside of Milan?</summary>
        <p>As much as I would like to extend the drawings to places all over Italy, I don't think I'm in a position to do so. I only redesign areas that I live in and know very well, where I know how local public transport works, the approximate traffic levels at different times, and the needs of those who live and work there. Unfortunately, all these points do not apply to cities I don't experience daily and, to avoid doing approximate work, I tend to avoid projects in areas I don't know.</p>
    </details>

    <details class="faq-item">
        <summary>You're not an urban planner, what gives you the authority for these proposals?</summary>
        <p>Nothing and no one. The goal is entirely on the communication level: making citizens dream and stimulating debate and inspiring new environments. There are people much more expert than me whose job is to manage these projects to actually make them happen.</p>
    </details>

    <details class="faq-item">
        <summary>How are the renderings created?</summary>
        <p>The creation pipeline is quite simple: (i) I study a place in real life, (ii) I take satellite images from Google/Apple Maps, (iii) I design an alternative to what's there now trying to be as realistic as possible with real dimensions, (iv) again with Google/Apple Maps I take the 3D version of the place of interest from the best angle, (v) I draw with Procreate (on iPad) the project I had in mind, (vi) I edit images, posts and any video with Photoshop/Final Cut.</p>
    </details>

    <details class="faq-item">
        <summary>Can I collaborate / work with you?</summary>
        <p>I'm sorry, as much as I would like to collaborate with other people, at the moment this is a hobby for me and as such has very limited time and money resources.</p>
    </details>
</section>
